<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist组件化</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <script src="./js/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="container-fluid">
            <h1>todolist组件化</h1>
            <todoform :additem="additem"></todoform>
            <!-- <todoform></todoform> -->
            <!-- <todoform></todoform> -->
            <todocontent :datalist="datalist" :complitem="complitem" :removeitem="removeitem"></todocontent>
        </div>
    </div>

    <template id="todoform">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" v-model="keyword" ref="key"
                @keyup.13="add">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" @click="add">添加</button>
            </div>
        </div>
    </template>
    <template id="todocontent">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">待办事项</th>
                    <th scope="col">完成时间</th>
                    <th scope="col">是否完成</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr is="todoitem" v-for="(item,idx) in datalist" :class="{'table-primary':item.done}" :data="item"
                    :idx="idx" :complitem="complitem" :removeitem="removeitem"></tr>
            </tbody>
        </table>
    </template>
    <template id="todoitem">
        <tr>
            <th scope="row">{{idx+1}}</th>
            <td>{{data.content}}</td>
            <td>{{data.time}}</td>
            <td>{{data.done?'是':'否'}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-outline-primary" @click="complitem(idx)">完成</button>
                    <button type="button" class="btn btn-outline-danger" @click="removeitem(idx)">删除</button>
                </div>
            </td>
        </tr>
    </template>
    <script>
        // 定义全局组件
        Vue.component("todoform", {
            props: ["additem"],
            // 组件的配置参数与Vue实例一致
            // 无el
            // data必须为一个函数
            data: function () {
                return {
                    keyword: "",
                }
            },
            template: "#todoform",
            methods: {
                add() {
                    this.additem(this.keyword);
                    this.keyword = "";
                    this.$refs.key.focus();
                }
            }
        })
        Vue.component("todocontent", {
            props: ["datalist", "complitem", "removeitem"],
            data: function () {
                return {}
            },
            template: "#todocontent",
            components: {
                // 这里定义的组件是局部组件
                todoitem: {
                    props: ["data", "idx", "complitem", "removeitem"],
                    data: function () {
                        return {}
                    },
                    template: "#todoitem",
                }
            }
        })
        let vm = new Vue({
            el: "#app",
            data: {
                datalist: [{
                    content: '完成Vue团队项目',
                    time: '2019-9-9',
                    done: false,
                }]
            },
            methods: {
                additem(content) {
                    let data = {
                        content,
                        time: Date.now(),
                        done: false
                    }
                    this.datalist.push(data);
                },
                removeitem(idx) {
                    this.datalist.splice(idx, 1);
                },
                complitem(idx) {
                    this.datalist[idx].done = true;
                }
            }
        })
    </script>
</body>

</html>